Xft.dpi: 144
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

rofi.dpi: 144

! i3wm floating variables
*telegram_abs_position_x: 2940
*telegram_abs_position_y: 29
*telegram_size_1: 900
*telegram_size_2: 1400

*mark_0_abs_position_x: 1920
*mark_0_abs_position_y: 1160
*mark_0_size_1: 1920
*mark_0_size_2: 1000

*mark_2_abs_position_x: 1420
*mark_2_abs_position_y: 29
*mark_2_size_1: 2420
*mark_2_size_2: 2131

*mark_i_abs_position_x: 2040
*mark_i_abs_position_y: 29
*mark_i_size_1: 1800
*mark_i_size_2: 2131

*mark_j_abs_position_x: 2040
*mark_j_abs_position_y: 29
*mark_j_size_1: 1800
*mark_j_size_2: 2131
