Xft.dpi: 144
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

rofi.dpi: 144

! i3wm float container variables
*telegram_abs_position_x: 2640
*telegram_abs_position_y: 29
*telegram_horizontal_size: 1200
*telegram_vertical_size: 1800

*mark_2_abs_position_x: 1420
*mark_2_abs_position_y: 29
*mark_2_horizontal_size: 2420
*mark_2_vertical_size: 2131

*mark_3_abs_position_x: 1840
*mark_3_abs_position_y: 760
*mark_3_horizontal_size: 2000
*mark_3_vertical_size: 1400

*mark_4_abs_position_x: 0
*mark_4_abs_position_y: 29
*mark_4_horizontal_size: 1820
*mark_4_vertical_size: 2131

*mark_8_abs_position_x: 1420
*mark_8_abs_position_y: 29
*mark_8_horizontal_size: 2420
*mark_8_vertical_size: 2131

*mark_9_abs_position_x: 1420
*mark_9_abs_position_y: 29
*mark_9_horizontal_size: 2420
*mark_9_vertical_size: 2131

*mark_0_abs_position_x: 1840
*mark_0_abs_position_y: 1160
*mark_0_horizontal_size: 2000
*mark_0_vertical_size: 1000

*mark_f1_abs_position_x: 2400
*mark_f1_abs_position_y: 1350
*mark_f1_horizontal_size: 1440
*mark_f1_vertical_size: 810

*mark_f9_abs_position_x: 1420
*mark_f9_abs_position_y: 29
*mark_f9_horizontal_size: 2420
*mark_f9_vertical_size: 2131

*mark_f10_abs_position_x: 2040
*mark_f10_abs_position_y: 29
*mark_f10_horizontal_size: 1800
*mark_f10_vertical_size: 2131
